/* ===========
Main section of website style ,.
========= */
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 40px;
}

.programmer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 15px;
}
