* {
    margin: 0;
    padding: 0;
}
.header-area {
    background: linear-gradient(
        90deg,
        rgba(40, 26, 181, 1) 17%,
        rgba(229, 0, 255, 1) 100%
    );

    text-align: center;
    color: white;
    padding: 25px;
    margin: 40px;
    border-radius: 4px;
    line-height: 40px;
}

.header-area h1 {
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
.highlight {
    color: coral;
}
